.blog{
    background-color: rgb(42, 75, 105);
}
.blog h1{
    background-color: darkcyan;
    color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 50px;
    border-radius: 0 0 150px 150px;
}